<a href="https://colab.research.google.com/github/SangeetaChatterjee/Udemy01_PythonBasics/blob/main/2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.

True

False

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
my_list =[1,2,3]

In [ ]:
# Obtain the datatype
type(my_list)

list

In [ ]:
# list with mixed datatypes (for example you can have strings and integers in one list)
my_list =[2,'GOOG',5]

In [ ]:
# You can have a list inside another list (nested list)

['GOOG', [3, 6, 7]]

In [ ]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)

'GOOG'

In [ ]:
# indexing for nested lists

'APPL'

6

['APPL', 5, 6]

In [ ]:
# Negative Indexing

GOOG

In [ ]:
# List Slicing (getting more than one element from a list) 

# obtain elements starting from index 3 up to and not including element with index 6

['GOOG', 'SP500', 'AMZN']

In [ ]:
# Obtain elements starting from index 3 to end

['GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# All elements start to end

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [ ]:
# Obtain the length of the list (how many elements in the list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
print(my_list[1][1])
print(my_list[1])
print(my_list[-1])
print(my_list[3])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

In [ ]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [ ]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
# Check the data type
type(my_dict)

dict

In [ ]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [ ]:
# Define a dictionary for a bank client listing all his/her assets! 
client_details= {'Real estate': 150000, 'stocks': 10000, 'savings': 20000}
client_details

{'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [ ]:
# Access elements in the dictionary
client_details['stocks']

10000

In [ ]:
# Add a new item to an existing dictionary
client_details['Crypto'] = 1500
client_details

{'Crypto': 1500, 'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [ ]:
# remove an item from the dictionary
del client_details['savings']
client_details

{'Crypto': 1500, 'Real estate': 150000, 'stocks': 10000}

In [ ]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client_details

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
My_Stocks = {'APPL': 2000,'GOOG':1800,'CRM':2500}
My_Stocks

{'APPL': 2000, 'CRM': 2500, 'GOOG': 1800}

# 4. STRINGS

In [ ]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes

'Hello Everyone and Welcome to Python for finance course!'

In [ ]:
# Obtain the datatype

str

In [ ]:
# Combining two strings together (Let's combine the first and last name of a bank's client)

'LailaAly'

In [ ]:
# You can combine both strings together and add spaces in between

'Laila Aly'

In [ ]:
# Methods on strings 
# upper will be used to convert the string into upper case

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [ ]:
# Split us used to divide up the string into words 
# The output from split is a list

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [ ]:
# Let's check that the datatype is list!

list

In [ ]:
# you can index any element in the list using indexing

'Everyone'

In [ ]:
# you can specify which letter could be choosed to perform the split

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
feedback = str(input('Pls provide your feedback for the service availed: '))
print ('You Entered: ',feedback.split())

Pls provide your feedback for the service availed: yes was ok. not bad
You Entered:  ['yes', 'was', 'ok.', 'not', 'bad']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [11]:
email = str(input("Please enter your email : "))
z = email.split('@')
fname = z[0].split('.')
type(fname)

Please enter your email : sang.chat@hotmail.com

list

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

tuple

('GOOG', 'APPL', 10, 15, 1992)

In [ ]:
# Accessing elements in a tuple

'APPL'

In [ ]:
# Tuple slicing

('APPL', 10)

In [ ]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment

TypeError: ignored

In [ ]:
# Create a New Tuple from existing Tuples

('GOOG', 'APPL', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [22]:
Personal_Dtls = ("Sangeeta",'Chatterjee',42,0)
print('Length of Personal_Dtls tuple is :' +str(len(Personal_Dtls)))

Length of Personal_Dtls tuple is :4

# 6. SETS

In [ ]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

{'GOOG', 'T', 'APPL'}

In [ ]:
# set do not have duplicates

{'T', 'APPL', 'GOOG', 'TSLA', 'AAPL'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [ ]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [ ]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [ ]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [ ]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [ ]:
print(my_list[1][1])

GOOG

In [ ]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [ ]:
print(my_list[3])

T

In [ ]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [ ]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [ ]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceMy experience today was positive, the service is perfect! great job everyone
Here are the list of words you entered: ['My', 'experience', 'today', 'was', 'positive,', 'the', 'service', 'is', 'perfect!', 'great', 'job', 'everyone']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [ ]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Enter your e-mail address:ryan.ahmed@yahoo.com
ryan

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [ ]:
len(my_tuple)

4

In [ ]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [ ]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'T', 'APPL', 'GOOG', 'TSLA', 'AAPL']