<a href="https://colab.research.google.com/github/SangeetaChatterjee/Udemy01_PythonBasics/blob/main/5_Python_101_Functions_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [ ]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y

In [1]:
x  = [4, 5, 1, 2, 8, 5]
print(x)

[4, 5, 1, 2, 8, 5]

In [2]:
y=[1, 2, 3, 4, 5, 6]
y

[1, 2, 3, 4, 5, 6]

In [3]:
# Let's obtain the length of y
len(y)

6

In [4]:
# Let's obtain the minimum value 
min(x)

1

In [5]:
# Let's obtain the maximum value
max(y)

6

In [6]:
# Let's create a tuple out of the list
z=tuple(x)
z

(4, 5, 1, 2, 8, 5)

In [7]:
z

(4, 5, 1, 2, 8, 5)

tuple

In [8]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [17]:
x = [-1, 4,-7]
y = [-3,7,4]
z= abs(sum(x+y))
z

4

# 2. FUNCTIONS

In [ ]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything

In [ ]:
# Function call

Welcome to Python for Finance course!

In [ ]:
# Define a function that takes in argument x and return the squared value

In [ ]:
# Call the function

16

In [ ]:
# Define a function with default value

In [ ]:
# If you pass an argument to the function, it overwrites the default value

My total portfolio worth is = 600000

In [ ]:
# If you don't pass an argument, the default value "20000" will be used instead

My total portfolio worth is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [21]:
def accnt_bal(x,y):
  return x*y
shares = int(input('Enter number of shares:'))
prices = float(input('Enter the price: '))
print('Your Account Balance is {}'.format(accnt_bal(shares,prices)))

Enter number of shares:120
Enter the price: 32.50
Your Account Balance is 3900.0

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [ ]:
# let's see how to create a basic function that squares the input

In [ ]:
# Function call

9

In [ ]:
# We can do the same task using Lambda expression
# Note that there is no function name

9

In [ ]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed

6

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [26]:
shares = int(input('Enter number of shares:'))
prices = float(input('Enter the price: '))
Account_Amount= lambda shares,prices : shares*prices
print('Your amount :{}'.format(Account_Amount(shares,prices)))

Enter number of shares:200
Enter the price: 124.5
Your amount :24900.0

# 4. MAP

In [ ]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b

In [ ]:
# Let's define a function that adds two elements together

In [ ]:
# You can now use map() to apply a function to the entire list and generate a new list

[2, 11, 14, 18, 16]

In [ ]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

# 5. FILTER

In [ ]:
# filter is used to create a list of elements for which a function returns "True".

In [ ]:
# return only even numbers

[40, 356, 222, 62]

In [ ]:
# Return prices that are greater than or equal 100

[105, 5055, 356, 923, 1443, 222]

In [ ]:
# Return age between 200 and 250

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [ ]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [ ]:
def total(units, price):
    amount = units * price
    return(amount)

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 80
Enter the price per share: 5
Total account balance = 400

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 80
Enter the price per share: 5
Total = 400

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [ ]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)